@media (max-width: 1000px){
    .project-content {
        width: 50%;
        margin-bottom: 50px;
    }

    .body-content {
        height: 900px;
    }

    .logo-about{
        height: 400px;
        width: 650px;
    }
}

@media (max-width: 670px) {
    .header-kiri {
        font-size: 15px;
        margin-top: 7px;
    }

    .header-kanan {
        display: none;
    }
    
    .icon-menu {
        display: block;
    }

    .project-content {
        width: 100%;
    }
    
    .body-content {
        height: 1400px;
    }

    .logo {
        height: 150px;
        width: 150px;
    }

    .logo-about{
        height: 50px;
        width: 200px;
        margin-top: 1px;
    }

    h1 {
        font-size: 25px;
    }

    .main {
        text-align: center;
    }

    .main p {
        font-size: 15px;
    }

    .link {
        padding: 10px 20px;
        display: inline;
        opacity: 0.8;
        border-radius: 2px;
        text-align: center;
        margin-top: -30px;
    }
    
    .link:hover {
        opacity: 1;
    }
    
    .appstore {
        height: 100px;
        width: 150px;
    }
    
    .playstore {
        height: 100px;
        width: 150px;
    }

    input, textarea {             
        width: 200px;             
        margin-top: 5px;             
        margin-bottom: 15px;             
        padding: 10px;             
        font-size: 10px;             
        border: 1px solid black; 
    } 
}